---

import { SvgSpinnersPulseRings3} from "@/components/icon.jsx"
---
<div
  class="h-screen w-full bg-gradient-to-t from-indigo-900 to-slate-900 z-50 fixed flex items-center justify-center animate-[opacity_2s_forwards] pointer-events-none"
>
  <div>
    <SvgSpinnersPulseRings3 />
  </div>
</div>
